* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: L" ";
	display: table;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: lighter;
	/*background-color: #000829;*/
	background-color: #000b37;
	}


main {
	width: 960px;
	margin: 0 15% 0 15%;
	/*height: 1000px;*/
}

header {
 height: 135px;

}

.bar {
	/*width: 90%;*/
	width: 880px;
	margin: 0 5% 0 5%;
}

h1 { margin: 0;
	display: inline-block;
}
a {
	text-decoration: none;
}

.logo {
	position: relative;
	top: 20px;
	left: 20px;

}

.navbar-top, .navbar-bot {
	display: inline-block;
	float: right;

	
}
.navbar-top {
	color: #000829;
	margin-top: 10px;
	background: url('../img-layouts/nav.png');
	background-repeat: no-repeat;
	background-size: cover;

}
.navbar-bot {
	margin-top: 10px;
}

.navbar-ul-top {
	margin: 0;
}

.navbar-li-bot, .navbar-li-top {
	font-size: 20px;
	display: inline-block;


}

.navbar-li-top {
	padding: 16px 0 16px 0;
	height: 100%;
	display: inline-block;
	margin-left: 60px;
}


.navbar-li-bot {
	margin-left: 65px;
	color: #fff;
}
.navbar-a-top {
	padding: 16px 10px 17px 10px;
}


.navbar-a-top:hover {
	background-color: #000829;
	color: #fff;
}
.navbar-a-top:visited {
	color: #000829;
}
.navbar-a-top:visited:hover {
	color: #fff;
}

.navbar-a-bot:hover {
	color: #f25923;
}

.navbar-a-bot:visited {
	color: #fff;
}
.navbar-a-bot:visited:hover {
	color: #f25923;
}
.navbar-li-bot:last-child, .navbar-li-top:last-child  {
	margin-right: 30px;
}

hr {
	width: 880px;
	margin: 0 5% 0 5%;
	border-color: #f25923;

}


.filler {
	height: 630px;
}

footer {
	margin: 900px 0 0 0;
	background-color: #fff;
	height: 250px;
}

.footer-ul {
	margin: 45px 0 0 450px;
	display: inline-block;
}

.footer-li {
	color:  #f25923;
	display: inline-block;
	margin: 0 30px 0 30px;
}

.social {
	margin: 45px 0 0 425px;
	display: inline-block;
}

.icon {
	color: #353535;
	text-align: center;
	font-size: 13px;
	display: inline-block;
	margin-left: 80px;
}

.icons {
	width: 45px;
}

.copyright {
	color: #353535;
	margin-left: 42%;
	margin-top: 30px;
}

.footbar:visited {
	color: #f25923;
}

/*---CHARTE GRAPHIQUE---*/

/*Orange   #f25923
bleu  #000b37*/

/*---DETAILS EVENT---*/

.details {
	width: 960px;
	height: 200px;
	margin: auto;
	margin-top: 20px;
}

.details img {
	color: #fff;
	margin-left: 10px;
	width: 150px;
	height: 200px;
}

.details div.image {
	width: 160px;
	height: 200px;
	background: #f25923;
	float: left;
}

.details div.date {
	width: 160px;
	height: 200px;
	float: left;
	text-align: center;
}

.details div.date h5 {
	color: #fff;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: lighter;
}

.details div.date h5.jour {
	color: #f25923;
	font-weight: bold;
}

.details div.date h5.jour {
	font-size: 60px;
	margin-top: 10px;
}

.details div.date h5.mois {
	font-size: 40px;
}

.details div.date h5.annee {
	font-size: 50px;
}

.details div.description {
	float: right;
	width: 640px;
	height: 200px;
	background: #fff;
	display: inline;
}

.details div.description div {
	width: 300px;
	float: left;
}

.details .description h5 {
	padding: 10px;
	margin-left: 10px;
	width: 200px;
	text-transform: uppercase;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: lighter;
	text-decoration: underline;
}

.details .description p {
	width: 200px;
	padding-left: 20px;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: lighter;
}

.details a.infos {
	padding: 10px;
	margin: 10px 0 0 180px;
	float: right;
	background: #f25923;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	font-family: "Montserrat", Arial, sans-serif;
}

.details a.infos:hover {
	background: #fff;
	color: #f25923;
	transition: .3s;
}