* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	}


main {
	background-color: #fff;
	width: 966px;
	margin: 79px 15% 0 15%;
	height: 1000px;
	border: 1px solid;
	border-color: black;
}

header {
 height: 60px;
 background-color: #000829;

}

.bar {
	/*width: 90%;*/
	width: 880px;
	margin: 0 5% 0 5%;
}



h1 { margin: 0;
	display: inline-block;
}
a {
	text-decoration: none;
}

.logo {
	position: relative;
	top: 0px;
	left: 20px;
	z-index: 99;

}
.logo-h1 {
	position: relative;
	top: 20px;
	left: 20px;

}
.logo-a {
	position: relative;
	top: 20px;
	left: 20px;

}

.navbar-top, .navbar-bot {
	display: inline-block;
	float: right;
	position: relative;
	top: -47px;

	
}
.navbar-top {
	color: #fff;
	margin-top: 10px;
	width: 100%;
	background: url('../img-layout/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;

}
.navbar-bot {
	background-color: #f25923;
	padding: 10px 0 10px 0;
	width: 100%;
}

.navbar-ul-top {
	margin: 0;
	margin-left: 25%;
}

.navbar-li-bot, .navbar-li-top {
	font-size: 20px;
	display: inline-block;


}

.navbar-li-top {
	padding: 32px 0 32px 0;
	height: 100%;
	display: inline-block;
	margin-left: 60px;
}


.navbar-li-bot {
	margin-left: 65px;
	color: #fff;
}
.navbar-a-top {
	padding: 16px 10px 17px 10px;
	color: #fff;
}

/*
.navbar-a-top:hover {
	background-color: #000829;
	color: #fff;
}*/
.navbar-a-top:visited {
	color: #fff;
}
.navbar-a-top:visited:hover {
	color: #fff;
}

.navbar-ul-bot {
	margin-left: 25%;
}
.navbar-a-bot {
	color: #fff;
}


.navbar-a-bot:visited {
	color: #fff;
}

.navbar-li-bot:last-child, .navbar-li-top:last-child  {
	margin-right: 30px;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #f25923;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}




.searchbar {
	height: 30px;
	width: 200px;
	border: solid 0px;
	border-radius: 5px;
}

.filler {
	height: 630px;
}

footer {
	color: #fff;
	margin: 0;
	background-image: url('../img-layout/footer.jpg');
	height: 250px;
}

.footer-ul {
	margin: 45px 0 0 450px;
	display: inline-block;
}

.footer-li {
	display: inline-block;
	margin: 0 30px 0 30px;
}

.social {
	margin: 45px 0 0 425px;
	display: inline-block;
}

.icon {
	color: #ddd;
	text-align: center;
	font-size: 13px;
	display: inline-block;
	margin-left: 80px;
}

.icons {
	width: 30px;
}

.copyright {
	color: #ddd;
	margin-left: 42%;
	margin-top: 30px;
}

.footbar {
	color: #fff;
}

.footbar:visited {
	color: #fff;
}

/* FORMULAIRE FORMULAIRE FORMULAIRE FORMULAIRE FORMULAIRE FORMULAIRE FORMULAIRE */


.contact-p {
	margin: 100px 0 100px 10%; 
	height: 30px;
	color: #000b23;
}

.contact-h2 {
	font-weight: bold;
	font-size: 30px;
	margin-left: 10%;
	color: #000b23;
}

hr {
	width: 780px;
	margin: 0 10% 0 10%;
	border-color: #aaa;

}


.formulaire {
	display: inline-block;
	width: 100%;

}

.liste {
	margin: 50px 0 0 10%;
	display: inline-block;
	width: 30%;
}

.star {
	color: #f25923;
}

.input-zone {
	width: 260px;
	height: 25px;	
	
}
.label {
	color: #000b23;
}
textarea {
	margin-left: 10%;
	width: 653px;
	height: 100px;
}

.contact-button {
	margin: 50px 0 0 10%;
	padding: 5px 10px 5px 10px;
	background-color: #fff;
}

.input-zone, textarea {
	margin-top: 10px;
}

.input-zone, textarea, .contact-button {
	
	border: solid 1.5px;
	border-color: #aaa;
	border-radius: 5px;
}