@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

/*CLEARFIX*/

/*.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}*/

* {
  padding: 0;
  margin:0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/*---CHARTE GRAPHIQUE---*/

/*Orange   #f25923
bleu  #000b37*/

/*---DETAILS EVENT---*/

div.event {
  width: 960px;
  margin: auto;
  padding-top: 100px;
  box-sizing: border-box;
}

.event img {
  width: 300px;
  height: 400px;
  float: left;
  box-sizing: border-box;
  margin: 20px;
}

.event .detailsevent h3, p.horraires {
  float: right;
  width: 600px;
  margin: 10px;
  padding-right: 100px;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: lighter;
}

.event a {
  float: left;
  margin: 50px;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  background: #f25923;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: lighter;
}

.event a:hover {
  background: #fff;
  color: #f25923;
  transition: .3s;
}

.event p.fulldetails {
  /*float: left;*/
  padding: 10px;
  margin-top: 300px;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: lighter;
}
